.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.contact-line {
    width: 90%;
    height: 1px;
    background: white;
}


.contact-nav-wrapper {
    display: flex;
    gap: 30px;
}

.copyright-section {
    display: flex;
    align-self: flex-end;
    padding-right: 50px ;
} 