@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: black;

  /* height: auto; */
}
/* 
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 1;

  backdrop-filter: blur(15px);
} */

.app-container {
  background: black;

  display: grid;
  grid-template-areas: 
  'header header'
  'nav content'
  'footer footer';

  grid-template-columns: 1fr 5fr;
  grid-template-rows: 50px 1fr;
}


.header-wrapper {
  grid-area: header;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 50px;
  padding: 20px 0;
  z-index: 1;

  backdrop-filter: blur(15px);
}

.left-pane {
  grid-area: nav;
  overflow-y: auto; 

  position: fixed;

  top: 0;
  bottom: 0;
  margin-top: 130px;

  overflow: hidden;

}

.right-pane {
  grid-area: content;

  /* width: 100%;  */
 /* overflow-y: auto;  */
 /* position: relative;  */

 margin-left: 50px;
 margin-top: 100px;


 top: 10;
 bottom: 0; 

 display: flex;
 flex-direction: column;
 gap: 150px;
} 

/* 

.app {
  
  height: 100%;

  display: flex;
  flex-direction: row;
  gap: 10px;
  
} 

 .app-wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px ; 
}

*/

@media screen and (max-width: 1000px) {
  .app-container {
    display: flex;
    flex-direction: column;
  }

  .left-pane {
    margin: 65px 0;


    display: flex;
    justify-content: center;
    /* padding: 30px 0; */
    height: 100px;
    width: 100%;

    background-color: black;
  }

  .right-pane {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
  }
}